<!DOCTYPE html>
<html lang="en">

<head>
    <title>premium</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Responsive One Page HTML5 Website Template">
    <meta name="keywords" content="HTML5, CSS3, Bootstrap, Responsive, Template, Theme, Website">
    <meta name="author" content="themetorium.net">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic,700,700italic" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">

    <!-- Libs and Plugins CSS -->
    <link rel="stylesheet" href="assets/vendor/jquery/css/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/vendor/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/vendor/magnific-popup/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/vendor/ytplayer/css/jquery.mb.YTPlayer.min.css">

    <!-- Theme master CSS -->
    <link rel="stylesheet" href="assets/css/helper.css">
    <link rel="stylesheet" href="assets/css/theme.css">
</head>

<body>

    <!-- Begin header -->
    <div id="header">
        <!-- Begin logo -->
        <div id="logo">
            <a href="index.html"><img src="assets/img/logo-light.png" alt="logo"></a>
        </div>

        <!-- Begin menu -->
        <nav id="menu" class="menu slide-right-half bg-image" style="background-image: url(assets/img/misc/menu-bg-1.jpg); background-position: 50% 50%">
            <div class="cover bg-transparent-5-dark"></div>
            <div id="menu-inner">
                <div id="menu-content">
                    <div class="menu-nav"></div>
                </div>
                <div class="menu-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="social-buttons">
                                <ul>
                                    <li><a href="#" class="btn btn-primary btn-link" target="_blank" title="Follow us on facebook"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#" class="btn btn-primary btn-link" target="_blank" title="Follow us on twitter"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#" class="btn btn-primary btn-link" target="_blank" title="Follow us on dribbble"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#" class="btn btn-primary btn-link" target="_blank" title="Follow us on behance"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#" class="btn btn-primary btn-link" target="_blank" title="Follow us on linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="btn btn-primary btn-link" target="_blank" title="Follow us on youtube"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Begin header attributes -->
        <div id="header-attriputes">
            <ul>
                <li>
                    <div id="menu-trigger">
                        <div class="mt-inner">
                            <div class="menu-str">
                                <span class="str-1"></span>
                                <span class="str-2"></span>
                                <span class="str-3"></span>
                            </div>
                        </div>
                        <div class="mt-text">Menu</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Begin body content -->
    <div id="body-content">

        <!-- Begin content container -->
        <div id="content-container">
            <!-- Begin page header -->
            <section id="page-header" data-percent-height="0.7">
                <div class="page-header-image parallax fade-out-scroll-6 bg-image" style="background-image: url(assets/img/page-header/page-header-bg-20.jpg); background-position: 50% 60%;">
                    <div class="page-header-caption">
                        <h1 class="page-header-title">Subscriber Menu</h1>
                    </div>
                    <a href="#shop-checkout-section" class="scroll-down sm-scroll hide-from-sm" title="Scroll down"></a>
                </div>
            </section>

            <!-- Begin subscription payment section -->
            <section id="shop-checkout-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkout-wrap">
                                <h2>- Available Offers</h2>
                                <p class="text-gray">Coupon Could Change :) </p>

                                <!-- Begin billing details -->
                                <div class="billing-details">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="billing-first-name">Enter Your Full name Here : <span class="text-red">*</span></label>
                                                <input type="text" class="form-control" name="billing-first-name" id="billing-first-name" required>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="billing-last-name">Enter Your Password : <span class="text-red">*</span></label>
                                                <input type="text" class="form-control" name="billing-last-name" id="billing-last-name" required>
                                            </div>
                                        </div>
                                    </div>

                                   

									<input type="submit" class="btn btn-primary btn-block btn-xlg" name="checkout-place-order" id="checkout-place-order" value="Log in " >
								></body>

